/* Following BEM Methodology / https://en.bem.info/methodology/quick-start */

:root {
  --primary: #D9D9D9;
  --secondary: #262626;
  --accent: #060606;
  --linkedin-icon_primary: url('./assets/icons/linkedin_primary.png');
  --linkedin-icon_secondary: url('./assets/icons/linkedin_secondary.png');
  --github-icon_primary: url('./assets/icons/github_primary.png');
  --github-icon_secondary: url('./assets/icons/github_secondary.png');
  --goodreads-icon: url('./assets/icons/goodreads_secondary.png');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.8rem;
  color: var(--secondary);
  background-color: var(--primary);
}

header, main {
  padding: 0 1rem;
}

.section-divider {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.card-divider {
  margin-bottom: 2rem;
}

.article-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.side-menu {
  position: absolute;
  top: 100px;
  width: 40px;
  height: 80px;
  padding: 2px;
  background-color: var(--accent);
  animation: slide-in 1s;
  animation-fill-mode: forwards;
}

.side-menu__link {
  width: 100%;
  height: 50%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(.9);
  transition: transform .2s;
}

.side-menu__link_linkedin {
  background-image: var(--linkedin-icon_primary);
}

.side-menu__link_github {
  background-image: var(--github-icon_primary);
}

.side-menu__link:hover {
  transform: scale(1);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.sidebar_hidden {
  display: none;
}

.sidebar__title {
  margin: 4rem 0 0 1rem;
  font-family: "Radley", serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--secondary);
}

.sidebar__subtitle {
  margin: 0 0 2rem 1rem ;
  font-family: "Radley", serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: var(--secondary);
}

.sidebar__bg {
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  opacity: .8;
}

.sidebar__button {
  position: fixed;
  display: block;
  right: 0;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--accent);
  border: none;
  border-radius: 2px;
  color: var(--primary);
  z-index: 20;
  cursor: pointer;
}

.sidebar__content {
  position: absolute;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 0 2rem 2rem 0;
  overflow-y: auto;
  z-index: 20;
  background-color: var(--primary);
  transition: transform .3s;
  transform: translate(400px, 0);
}

.sidebar__content_visible {
  transform: translate(0, 0);
}

.grid {
  display: grid;
  grid-template-rows: 50vh 50vh;
}

.grid_fade {
  animation: fade 1s;
}

.grid_rows-auto {
  grid-template-rows: auto auto;
}

.grid__item-lg {
  align-self: end;
  justify-self: end;
}

.grid__item-md {
  align-self: start;
}

.heading {
  margin-bottom: 2rem;
  font-family: "Playfair Display", serif;
  font-size: 7.4rem;
  text-align: end;
  line-height: 8.2rem;
  color: var(--accent);
}

.ellipse {
  display: inline-block;
  position: relative;
  background-color: var(--primary);
  padding: 2px 8px;
  border-radius: 50%;
  font-weight: 400;
}

.ellipse::before {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 100%;
  height: 104%;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--secondary) 20%, var(--primary) 60%);
  z-index: -1;
}

.ellipse::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to left, var(--secondary) 100%, var(--primary) 40%);
  z-index: -1;
}

.subheading {
  font-family: "Radley", serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

.paragraph {
  margin-top: 1rem;
}

.paragraph_text-end {
  text-align: end;
}

.paragraph_m-0 {
  margin: 0;
}

.paragraph_mt-2 {
  margin-top: 4rem;
}

.font-italic {
  font-style: italic;
}

.picture-container {
  width: 100%;
  height: 50vh;
  margin: 0 0 2rem auto;
  display: flex;
  overflow: hidden;
}

.picture-container_mt-2 {
  margin-top: 2rem;
}

.picture {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  filter: grayscale() contrast(80%);
  object-fit: cover;
}

.picture_zoom {
  animation: zoom 18s ease-in-out;
  animation-iteration-count: infinite;
}

.card-container {
  margin-bottom: 2rem;
  max-height: 600px;
  width: 100%;
  max-width: 340px;
  padding: .4rem;
  display: flex;
  gap: .4rem;
  overflow-x: auto;
  border-radius: 2px;
  background-color: var(--secondary);
}

.card {
  position: relative;
  min-width: 280px;
  height: 500px;
  padding-bottom: 2rem;
  border-radius: 2px;
  background-color: var(--primary);
}

.card__picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 2px 2px 0 0;
  filter: grayscale() contrast(80%);
}

.card__title {
  margin-top: 1rem;
  margin-left: .5rem;
  font-family: "Radley", serif;
  font-size: 1.8rem;
  color: var(--secondary);
}

.card__text {
  margin: 1rem .5rem 0;
  text-align: left;
  font-size: 1.2rem;
  color: var(--secondary);
}

.card__label-container {
  position: absolute;
  bottom: 40px;
  left: .5rem;
  height: 90px;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  gap: 4px;
}

.card__action-container {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.card__action {
  font-family: "Montserrat", sans-serif;
  width: 120px;
  padding: 2px 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

.label-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.checkbox {
  display: none;
}

.label {
  width: 86px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 20px;
}

.checkbox:checked + .label {
  background-color: var(--secondary);
  color: var(--primary);
}

.label_filled {
  background-color: var(--secondary);
  color: var(--primary);
}

.label_bordered {
  border: 1px solid var(--secondary);
}

.label_pointer {
  cursor: pointer;
}

.label_text-sm {
  font-size: 1rem;
}

.small {
  font-size: 1.6rem;
}

.article-title {
  font-size: 1.8rem;
}

.link-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
}

.link-container_no-wrap {
  flex-wrap: nowrap;
}

.link {
  width: 216px;
  display: block;
  padding-right: 2.2rem;
  border: none;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.8rem;
  color: var(--secondary);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right;
  cursor: pointer;
}

.link_absolute {
  position: absolute;
}

.link_right {
  right: 0;
}

.link_mt-2 {
  margin-top: 2rem;
}

.link_mb-2 {
  margin-bottom: 2rem;
}

.link_ml-auto {
  margin-left: auto;
}

.link_bg-github {
  background-image: var(--github-icon_secondary);
}

.link_bg-link {
  background-image: var(--link-icon);
}

.link_bg-linkedin {
  background-image: var(--linkedin-icon_secondary);
}

.link_bg-goodreads {
  background-image: var(--goodreads-icon);
}

.footer {
  font-family: "Radley", serif;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  
  .sidebar__content {
    width: 50%;
  }

  .heading {
    font-size: 10rem;
    line-height: 11rem;
  }

  .picture-container {
    width: 360px;
  }

  .card-container {
    max-width: 600px;
  }
  
  .link-container {
    justify-content: flex-start;
  }

  .link {
    text-align: left;
    padding-left: 2.2rem;
    padding-right: 0;
    background-position: left;
  }

}

@media only screen and (min-width: 768px) {

  .grid {
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh;
    place-content: center;
  }

  .grid_rows-auto {
    grid-template-rows: auto auto;
  }
  
  .grid__item-lg {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
  }

  .grid__item-md {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid__item-lg,
  .grid__item-md {
    justify-content: center;
    align-self: center;
  }

  .grid__item-lg_align-start,
  .grid__item-md_align-start {
    align-self: start;
  }

  .grid__item-lg_pl-8 {
    padding-left: 8rem;
  }
  
  .grid__item-lg_justify-end {
    display: flex;
    justify-content: end;
    justify-self: end;
    justify-items: flex-end;
    width: 70%;
  }

  .grid__item-md_stretch {
    align-self: stretch;
  }
  
  .grid__item-lg_stretch {
    align-self: stretch;
  }

  .grid__item-lg_flex-column {
    flex-direction: column;
  }
  
  .heading {
    font-size: 11rem;
    line-height: 11.4rem;
  }

  .picture-container {
    margin: 0;
  }

  .picture-container_mt-2 {
    margin-top: 2rem;
  }

  .picture-container_h-80 {
    height: 90vh;
    max-height: 600px;
  }

  .picture {
    height: 100%;
  }

  .picture, .card__picture {
    transition: filter 1s;
  }

  .picture:hover, .card__picture:hover {
    filter: grayscale(50%);
  }

  .card-container {
    margin-bottom: 0;
    max-width: 1000px;
  }

  .article-divider {
    width: 50%;
    margin: 2rem 0 0 auto;
  }

  .article-divider_w-full {
    width: 100%;
  }

  .article-title {
    margin-right: 2rem;
    margin-top: 1rem;
  }

}

@media only screen and (min-width: 1024px) {

  .sidebar__content {
    width: 30%;
  }

  .heading {
    font-size: 12.8rem;
  }

}

@keyframes slide-in {
  from {
    transform: translate(-200px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}


@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  to {
    transform: scale(1);
  }
}

